<!-- Header Component -->
<header id="header">
    <a href="/index.html" class="logo">Tadija Ciric Portfolio</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="/index.html">About Me</a></li>
        <li><a href="/generic.html">Projects</a></li>
        <li><a href="/elements.html">Contact</a></li>
    </ul>
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/tadija-ciric/" class="icon brands alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/jatadi" class="icon brands alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.instagram.com/tad.i.ja/" class="icon brands alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    </ul>
</nav> 