<!-- Head Component -->
<head>
    <title>{{title}} | Tadija Ciric - Software Engineer & AI Developer</title>
    <link rel="icon" type="image/png" href="/images/cactus2.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="AI Projects, Machine Learning, Cloud Computing, Blockchain, Portfolio Projects, Tadija Ciric" />
    <meta name="author" content="Tadija Ciric" />
    <meta property="og:title" content="{{title}} | Tadija Ciric - Software Engineer & AI Developer" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head> 